data/db/*
db.sqlite3
db_test.sqlite3

mgi/settings*

*.pyc
descchar/migrations/

descchar/media/
descchar/RunCount.num
descchar/run_id*

dielec2d/*.num
dielec2d/run_id*

dynamfit/*.num
dynamfit/run_id*
dynamfit/*.str

niblack/migrations
niblack/media/
niblack/*.num
niblack/run_id*

xmlconv/*.num
xmlconv/*.str

logfile*
