{% extends "mdcs/extra/one_column.html" %}
{% load staticfiles %}
{% load auth_extras %}

{% block menu %}{% include 'mdcs/menus/main.html' with active_tab='tab1' %}{% endblock %}
{% block title %}<h1><span>Dielectric Permittivity 2D FEA</span></h1>{% endblock %}
{% block content%}

<h3>Your job has now been submitted. </h3><br>

<p>Your job ID is: {{jobid}}. Please save it for future reference. </p>
<p>Your job may be currently running or queued. Check the status of your job at: <a href="/FEA2D/DielectricFEA2DCheckProgress" > Job Checker </a></p>
<p>To submit another job, click <a href="/dielec2d">here</a>.</p>

{% endblock %}