<!-- 
################################################################################
#
# File Name: search.html
# Application: templates
# Description: 
#
# Modified by: He Zhao, Aug 17, 2015
# Customized for NanoMine
#
################################################################################
-->

{% extends 'base_featured.html' %}
{% load staticfiles %}


{% block title %}<h1><span>Search Archived Data</span></h1>{% endblock %}
{% block menu %}{% include 'menu.html' with active_tab='search' %}{% endblock %}
{% block content%}


<form method='POST'>  {% csrf_token %}
    <h3>Search by Properties</h3>
    Select from list:
    <select name="polymer" id="mol1_selection" required aria-required="true" >  
    <option value='' >Choose Polymer</option>
    <option value="mechanical" selected> 1.Mechanical Property </option>    
    <option value="elastic_modulus" > 1.1.Elastic Modulus </option>
    </select><br>
    
	
    Select from list:
    <select name="polymer" id="mol1_selection" required aria-required="true" >  
    <option value='' >Choose Particle</option>
    <option value="polystyrene" selected> 2. Electrical Property </option>    
    <option value="epoxy" > 2.1 Dielectric Permittivity </option>
    </select><br>
	
<!--    <h3>Search by Property Input</h3>
    <p>Select from property list. </p>
    <select name="polymer" id="mol1_selection" required aria-required="true" >  
    <option value='' >Choose Property</option>  
    <option value="epoxy" selected> 1.Dielectric Permittivity </option>
    <option value="epoxy" selected> 2.Elastic Modulus </option>
    </select>
    <input type='number' value='num'><br>
    
    
    <select name="polymer" id="mol1_selection" required aria-required="true" >  
    <option value='' >Choose Property</option>  
    <option value="epoxy" selected> 1.Dielectric Permittivity </option>
    <option value="epoxy" selected> 2.Elastic Modulus </option>
    </select>
    <input type='number' value='num'><br>-->
    
    
    <input type='submit' value='Submit'>
</form>
<hr>
<p>There are {{ct}} entries that meet the search criteria.</p><br>

{% if titles %}
	<ul>
	{% for t in titles %}
		<li><a href="/search/search_result">{{t}}</a></li>
	{% endfor %}
	</ul>
{% else %}
	<p>No title found</p>
{% endif %}



{% endblock %}