<!-- 
################################################################################
#
# File Name: stats_tool.html
# Application: templates
# Description: index pages for stats tools
#
# Modified by: He Zhao, Aug 17, 2015
# Customized for NanoMine
#
################################################################################
-->

{% extends 'base_featured.html' %}
{% load staticfiles %}

{% block menu %}{% include 'menu.html' with active_tab='tab5' %}{% endblock %}

{% block title %}<h1><span>Statistical Learning and Analysis Module Tools</span></h1>

<br />

<div class="left" style="width: 800px">
  <p class="large">Statistical learning and analysis modules include web and downloadable packages that can be used to pre-process and analyze structure and material property data. Each of the modules will specify required format of input and output data, and provide a brief introduction of mechanism of the algorithm. </p>
</div>

<div class="content-separator"></div>

<div>
<div class="float left" style="width: 300px">
  <img src={% static 'resources/img/3drecon_pic.png' %} />
</div>

<div class="float right" style="width: 300px">
  <h3><span><a href="/descchar">Descriptor Characterization</a></span> </h3> 
  <p>Descriptor Characterization is a modular tool that takes input from a micrograph image of a microstructure of material and generate statistical descriptors that can characterize the structure information. More details to follow. </p>
</div>

</div>

<div class="content-separator"></div>

<div>
<div class="left" style="width: 400px">
	<img src=  {% static 'resources/img/stats_tool_pic.png' %}  />
</div>
<div class="right" style="width: 300px">
  <h3><span><a href="/niblack">Niblack Binarization</a></span> </h3> 
  <p>Descriptor Characterization is a modular tool that takes input from a micrograph image of a microstructure of material and generate statistical descriptors that can characterize the structure information. More details to follow. </p>
</div>

</div>

<div class="content-separator"></div>

<div>
<div class="left" style="width: 400px">
	<img src= {% static 'resources/img/dynamfit.png' %}   />
</div>
<div class="right" style="width: 300px">
  <h3><span><a href="/dynamfit">Dynamfit</a></span> </h3> 
  <p>Dynamfit is a downloadable executable for Prony Series fitting. The program fits viscoelastic mastercurve from DMA experiments by Prony Series so that the Prony Series coefficients can be used as viscoelastic properties for FEA simulation. </p>
</div>

</div>


{% endblock %}

{% block content%}

{% endblock %}