<!-- 
################################################################################
#
# File Name: Two_pt_MCR_landing.html
# Application: templates
# Description: 
#
# Modified by: Akshay Iyer, July 7, 2017
# Customized for NanoMine
#
################################################################################
-->
<html>
<body>
{% extends 'base_featured.html' %}
{% load staticfiles %}


{% block title %}<h1><span>Microstructure Characterization and Reconstruction - Correlation Function Approach</span></h1>{% endblock %}
{% block menu %}{% include 'menu.html' with active_tab='stats_tool' %}{% endblock %}
{% block content%}
	

<h3>Description</h3>
<br>
	<p>This page allows you to Submit images for recontruction or view results for previously submitted images. Please click on the appropriate button.</p>
	
<div>
<input type="button" onclick="location.href='http://nanomine.northwestern.edu:8001/Two_pt_MCR_Image_Submission';" value="Submit Image for Reconstruction" />
</div>
<br/> <br/>

<div>
<input type="button" onclick="location.href='http://nanomine.northwestern.edu:8001/Two_pt_MCR_CheckResult';" value="Check Results for previous submissions" />
</div>


<hr>
	<h4>Reference</h4>
	<p> MD Rintoul and S Torquato, <i><a href="http://chemists.princeton.edu/torquato/files/publications/papers/paper-134.pdf">Reconstruction of the structure of dispersions</a></i>, Journal of Colloid and Interface Science, 186, 467-476 (1997)</p>
	<p>Liu, Y., Greene, M.S., Chen, W., Dikin, D., Liu, W.K., <i><a href="http://www.sciencedirect.com/science/article/pii/S0010448512000681">Computational Microstructure Characterization and Reconstruction for Stochastic Multiscale Design</a></i>, Computer Aided Design, 45 (1), 65-76, 2013 </p>


{% endblock %}
</body>
</html>
