{% extends "mdcs/extra/one_column.html" %}
{% load staticfiles %}
{% load auth_extras %}
{% comment %}
<!--
################################################################################
#
# File Name: xmlconv.html
# Application: templates
#
################################################################################
-->
{% endcomment %}

{% block menu %}{% include 'mdcs/menus/main.html' with active_tab='tab1' %}{% endblock %}
{% block title %}<h1><span>Data Uploader</span></h1>{% endblock %}
{% block content%}


<br>
<h3>Description</h3>
<br>
<p>Consolidate all data of a sample into one MS Excel spreadsheet and upload with just one-click. While all fields are optional, we recommend you filling in as many parameters as applicable.</p>
<br>

<h5>Steps</h5>
<p>Step 1: Click <a href="http://nanomine.northwestern.edu/nanomine/XMLCONV/data.xlsx">here</a> to download the blank MS Excel template (46 kB).
 (Click <a href="http://nanomine.northwestern.edu/nanomine/XMLCONV/example/example_032917.zip">here</a> to see an example, 40 MB)<br>
Step 2: Fill in the parameters for all applicable tabs. Do not rename data.xlsx.<br>
Step 3: Upload the Excel file with spreadsheets containing data along with image and other binary files, then click Submit to upload your data.</p>

<h5>Note</h5>
<p>1. Upload one sample data at a time (one data.xlsx along with associated files). <br>
2. Copy additional rows if more entries for the same parameter are applicable (indicated with # sign on parameter name).<br>
3. Acceptable image file format: JPG, PNG, TIF. Indicate full image name at parameters indicated in the spreadsheet.
</p>

<form method='POST' enctype='multipart/form-data'> {% csrf_token %}

<h3>Inputs</h3><br>

<p>Upload files here (including Excel and all related image or binary files):</b>
	<p>{{ form.non_field_errors }}</p>
	<p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
	<p>
		{{ form.docfile.errors }}
		{{ form.docfile }}
	</p>

	<input type='submit' value='Submit' onclick="msg3();">
</form>

<!--
<form>
<b>After upload files, please click "Submit" to save your data into database.</b>
<input type='button', value='Submit' onclick="window.open('/XMLCONVRun','newwindow')"><br><br>

</form>
-->

<script>
    function msg3() {
        //alert("Thank you for using the data uploading tool. Your data has been uploaded and is being reviewed by the administrators. Once approved, your data will be available for searching. You may be contacted if we have questions about the data you uploaded.");
        alert("Thank you for uploading data. Please do not close this page until the buffering in your browser is finished in order to upload attached files.");
		return true;
    }
</script>	
{% endblock %}